#editor-wrapper{
  background: #d8c0c0;
  width: 600px;
  margin-bottom: 15px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
  border: 1px solid black;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#editor{
  display: inline-block;
  width: 100%;
  resize: vertical;
  border: 0;
  padding: 4px 4px;
  background: transparent;
  font-size: 0.9rem;
  height: 100%;
  overflow: auto;
  min-height: 165px;
}

#editor:focus{
  border: 0;
}


#editor:active{
  border: 0;
}

#preview{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #d8c0c0;
  min-height: 250px;
  width: 770px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
  border: 1px solid black;
}

.head{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #d12a2a;
  padding: 0 15px 0 10px;
  height: 35px;
  width: 100%;
  font-weight: 900;
  border-bottom: 1px solid black;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
}

.title-container{
  display: flex;
  gap: 0.4rem;
  align-items: center;
}

.resize-button{
  background: transparent;
  font-size: 1rem;
}

.resize-button:hover, .resize-button:focus{
  color: #e25757;
  cursor: pointer;
}

#editor-wrapper.maximize{
  height: 100vh;
}

#preview.maximize{
  min-height: 100vh;
}

#editor-wrapper.maximize textarea{
  resize: none;
}

.text{
  width: 100%;
  height: 100%;
  padding: 18px 12px;
}